body{   /* */
    background-image: url(bg.jpg);
    background-size: cover;
}
#wrapper{
    width: 1275px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
}

#header{ /*ang sa babaw */
    width: 118%;
    height: 150px;
    padding: 5px;
    margin: 8px;
    text-align: center;
}
#header h1{
    color: #654321; /*dark brown */
    width: 82%;
    text-align: center;
}

#footer{/* ang sa dalom*/
    width: 97%;
    height: 60px;
    padding: 5px;
    margin: 8px;
    text-align: center;
    color: #654321; /*dark brown */
}

#contents{ /* body content*/
  width: 97%;
    height: auto;
    padding: 5px;
    margin: 8px;  
}
#contents h2{
    color: #654321; /*dark brown */
    text-align: center;
}
#contents ul{
    list-style-type: decimal;
    color: #654321; /*dark brown */
}

#content{ /* body content*/
  width: 97%;
    height: auto;
    padding: 5px;
    margin: 8px;  
}
#content p{
    color: #654321; /*dark brown */
    text-indent: 2em; /*indent */
}
#content h2{
    color: #654321; /*dark brown */
}

#navigation{
    width: 70%;
    height: 50px;
    float: right;
}
#navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navigation a{ /* ang border sang mga links */
    display: block;
    min-width: 60px;
    padding: 4px;
    margin: 4px;
    float: left;
    text-decoration: none;
    border: 2px solid #D6D2D2;
    font-size: 20px;
}

#navigation a:link, #navigation a:visited{ /* ang color sang words sa link  */
    color: #654321; /*dark brown */
}
#navigation a:hover{ /* ma change color sang border links pag ipoint sang mouse */
    border: 2px solid #654321/*dark brown */;
}